METdbLoad/ush/load_specification_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Define special types used to impose size limitations on payload-->

    <xs:simpleType name="inserttype">
        <!-- only insert size of 1 -->
        <xs:restriction base="xs:positiveInteger">
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="truefalsetype">
        <!--Checking for true or false values only (allow for case-insensitive) -->
        <xs:restriction base="xs:string">
                        <xs:pattern value="((t|T)(r|R)(u|U)(e|E))|((f|F)(a|A)(l|L)(s|S)(e|E))"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="usernametype">
        <!--Limit the username to 32 characters (mysql maximum) -->
        <xs:restriction base="xs:string">
            <xs:pattern value="[\s\-_a-zA-z0-9]+"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="hostnametype">
        <!--Limit the hostname to 60 characters (mysql maximum) add 7 for port number -->
        <xs:restriction base="xs:string">
            <xs:pattern value="([.\-_a-zA-z0-9]+:\d+)"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="67"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dbnametype">
        <!--Limit the  database name to max 124 characters based on Stack Overflow  -->
        <xs:restriction base="xs:string">
            <xs:pattern value="[\-_a-zA-z0-9]+"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="124"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="pwdtype">
        <!--Limit the password length  -->
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="foldertmpl">
        <!--Checking for folder template name, limit to max 4096 characters -->
        <xs:restriction base="xs:string">
            <!-- Allow _, #, -, / in path -->
            <!-- https://unix.stackexchange.com/questions/32795/what-is-the-maximum-allowed-filename-and-folder-size-with-ecryptfs -->
            <xs:pattern value=".+"/>
            <xs:minLength value="3"/>
            <xs:maxLength value="4096"/>

        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mgmtsystype">
        <!--Checking for mariadb|aurora|mysql values in management_system-->
        <xs:restriction base="xs:string">
            <xs:enumeration value="mysql"/>
            <xs:enumeration value="aurora"/>
            <xs:enumeration value="mariadb"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="limitedstringtype">
        <!--Limit the database group and description  -->
        <xs:restriction base="xs:string">
            <xs:pattern value="[\s\-._,a-zA-z0-9]+"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="linetype">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="25"/>
            <xs:pattern value="[_a-zA-Z0-9]+"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- COMPLEX TYPES -->
    <xs:element name="load_spec">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="connection">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="mgmtsystype" name="management_system" minOccurs="0"/>
                            <xs:element type="hostnametype" name="host"/>
                            <xs:element type="dbnametype" name="database"/>
                            <xs:element type="usernametype" name="user"/>
                            <xs:element type="pwdtype" name="password"/>
                            <xs:element type="truefalsetype" name="local_infile" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="date_list" minOccurs="0" maxOccurs="5">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:int" name="start"/>
                            <xs:element type="xs:int" name="end"/>
                            <xs:element type="xs:int" name="inc"/>
                            <xs:element type="xs:string" name="format"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                    </xs:complexType>
                </xs:element>

                <!-- Header and other flags -->
                <xs:element type="truefalsetype" name="verbose"/>
                <xs:element type="xs:positiveInteger" name="insert_size"/>
                <xs:element type="truefalsetype" name="stat_header_db_check" minOccurs="0"/>
                <xs:element type="truefalsetype" name="mode_header_db_check" minOccurs="0"/>
                <xs:element type="truefalsetype" name="mtd_header_db_check" minOccurs="0"/>
                <xs:element type="truefalsetype" name="drop_indexes" minOccurs="0"/>
                <xs:element type="truefalsetype" name="apply_indexes" minOccurs="0"/>
                <xs:element type="truefalsetype" name="load_stat" minOccurs="0"/>
                <xs:element type="truefalsetype" name="load_mode" minOccurs="0"/>
                <xs:element type="truefalsetype" name="load_mtd" minOccurs="0"/>
                <xs:element type="truefalsetype" name="load_mpr" minOccurs="0"/>
                <xs:element type="truefalsetype" name="load_orank" minOccurs="0"/>
                <xs:element type="truefalsetype" name="force_dup_file" minOccurs="0"/>

                <xs:element type="limitedstringtype" name="group" minOccurs="0"/>
                <xs:element type="limitedstringtype" name="description" minOccurs="0"/>
                <xs:element type="foldertmpl" name="folder_tmpl"/>

                <xs:element name="load_val" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="field" minOccurs="0" maxOccurs="20">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="date_list" minOccurs="0" maxOccurs="5">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="name"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                         <xs:element type="xs:string" name="val" minOccurs="0" maxOccurs="100"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="line_type" minOccurs="0" maxOccurs="1">
                               <xs:complexType>
                                  <xs:sequence>
                                     <xs:element type="xs:string" name="val" maxOccurs="800" minOccurs="0"/>
                                  </xs:sequence>
                               </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="load_xml" minOccurs="0"/>
                <xs:element type="xs:string" name="load_note" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
